<div class="cards">
  <app-info-card title="Cargar solicitudes robots paquete" imageUrl="icons/cards/excel.png" (click)="triggerFileInput()"
    style="cursor:pointer"></app-info-card>
  <app-info-card title="Descargar historial beneficios" imageUrl="icons/cards/excel.png"
    (click)="extraerHistorialBeneficios()" style="cursor:pointer"></app-info-card>

  <button mat-raised-button color="accent" (click)="descargarLinksExcel(1, 0, 0)">
    Descargar Excel (cédula + link de Drive)
  </button>
</div>

<input type="file" id="fileInput" (change)="cargarExcel($event)" accept=".xlsx, .xls" style="display:none" />

<app-merchandising-merchandise *ngIf="comercializadora"></app-merchandising-merchandise><br>
<app-robot-tracking *ngIf="admin"></app-robot-tracking>

<!--
  <app-info-card title="Extraer total tiendas" imageUrl="comun/excel.png" [value]="" />
  <app-info-card title="Historial actividades roles" imageUrl="comun/excel.png" [value]=""
  (cardClicked)="openDateRangeDialog2()" style="cursor: pointer;"  />

  <app-info-card title="Mercado Andrea" imageUrl="comun/excel.png" [value]=""
  (cardClicked)="reporteMercadoAndrea()" style="cursor: pointer;" />
-->
