<div class="backgraound">
  <div class="view">
    <div class="blob-container">
      <div class="orbit"></div>
    </div>

    <div class="login">
      <!--
      <img src="logo/FOMAGMesa-de-trabajo-34@2x.png" />
      -->
      <h2>¡Bienvenido a Tu Apo!</h2>
      <h3>¡Ingresa tus credenciales!</h3>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form" autocomplete="off">
        <mat-form-field class="textbox" appearance="outline">
          <mat-label>Correo o documento</mat-label>
          <input matInput type="text" formControlName="login" required />
          @if (loginForm.get('login')?.hasError('required')) {
            <mat-error>
              Este campo es obligatorio
            </mat-error>
          }
          @if (loginForm.get('login')?.hasError('emailOrDoc')) {
            <mat-error>
              Ingrese un correo válido o un número de documento
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="textbox" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required />
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Mostrar/Ocultar contraseña'">
            <mat-icon>{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>
              La contraseña es obligatoria
            </mat-error>
          }
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid || loading">
          {{ loading ? 'Ingresando...' : 'Iniciar sesión' }}
        </button>
      </form>
      <!--
      <a href="#">¿Olvidaste tu contraseña?</a>
      <p class="footer">¿No tienes una cuenta? <a href="#">¡Regístrate!</a></p>
      -->
    </div>
  </div>
</div>
