

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14pt;
    font-weight: bold;
    line-height: 1.3;
}


mat-card {
    width: 75vw;
    margin: 20px;
    padding: 20px;
}



.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: 50vh;
    overflow-y: auto;
}