<mat-card>
  <mat-card-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- Nodo Hoja -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <div class="tree-node-container">
          <div class="node-content">
            <button mat-icon-button class="toggle-icon" disabled>
              <mat-icon style="visibility: hidden">chevron_right</mat-icon>
            </button>
            <span>{{ node.name }}</span>
            <span *ngIf="node.tags.length">({{ node.tags.join(', ') }})</span>
          </div>
          <div class="actions">
            <button mat-icon-button (click)="openModal(node, true)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openModal(node, false)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </mat-tree-node>

      <!-- Nodo Expandible -->
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <div class="tree-node-container">
          <div class="node-content">
            <button mat-icon-button matTreeNodeToggle class="toggle-icon">
              <mat-icon>
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>
            <span>{{ node.name }}</span>
            <span *ngIf="node.tags.length">({{ node.tags.join(', ') }})</span>
          </div>
          <div class="actions">
            <button mat-icon-button (click)="openModal(node, true)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openModal(node, false)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </mat-tree-node>
    </mat-tree>
    <button mat-raised-button (click)="openModal(null, false)">Agregar Tipo Documental</button>
  </mat-card-content>
</mat-card>
