

.usuarios-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 10px; 
    background-color: red;    
}

.usuario-item {
    min-width: 100%; 
    max-width: 1fr; 
    background-color: blue;
}

.example-full-width {
    width: 100% !important;
}

.hidden-user {
    display: none;
}

button{
    margin-top: 2pt;
}
