<mat-card>
  <mat-card-content>

    <!-- Campo de entrada para filtrar por cédula -->
    <mat-form-field class="example-full-width">
      <mat-label>Buscar por Cédula</mat-label>
      <input matInput (input)="onCedulaInput($event)" placeholder="Ingrese número de cédula">
    </mat-form-field>


    <!-- Botón para buscar por cédula -->
    <button mat-flat-button style="margin-left: 20px; margin-right: 20px;" (click)="buscarPorCedula()">
      <mat-icon>search</mat-icon> Buscar
    </button>

    <!-- Botón para copiar tabla -->
    <button mat-raised-button color="primary" (click)="copyTableToClipboard()">
      <mat-icon>content_copy</mat-icon> Copiar Tabla
    </button>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--marcaTemporal-->
        <ng-container matColumnDef="marcaTemporal">
          <th mat-header-cell *matHeaderCellDef> Marca Temporal </th>
          <td mat-cell *matCellDef="let element"> {{element.marcaTemporal}} </td>
        </ng-container>

        <!-- Configuración de columnas -->
        <ng-container matColumnDef="numerodeceduladepersona">
          <th mat-header-cell *matHeaderCellDef> Número de Cédula </th>
          <td mat-cell *matCellDef="let element"> {{element.numerodeceduladepersona}} </td>
        </ng-container>

        <!-- Primer Apellido -->
        <ng-container matColumnDef="primer_apellido">
          <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.primer_apellido || ''}} </td>
        </ng-container>

        <!-- Segundo Apellido -->
        <ng-container matColumnDef="segundo_apellido">
          <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.segundo_apellido || ''}} </td>
        </ng-container>

        <!-- Primer Nombre -->
        <ng-container matColumnDef="primer_nombre">
          <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.primer_nombre || ''}} </td>
        </ng-container>

        <!-- Segundo Nombre -->
        <ng-container matColumnDef="segundo_nombre">
          <th mat-header-cell *matHeaderCellDef> Segundo Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.segundo_nombre || ''}} </td>
        </ng-container>

        <!-- Fecha de Nacimiento -->
        <ng-container matColumnDef="fecha_nacimiento">
          <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_nacimiento || ''}} </td>
        </ng-container>

        <!-- Género -->
        <ng-container matColumnDef="genero">
          <th mat-header-cell *matHeaderCellDef> Género </th>
          <td mat-cell *matCellDef="let element"> {{element.genero || ''}} </td>
        </ng-container>

        <!-- Estado Civil -->
        <ng-container matColumnDef="estado_civil">
          <th mat-header-cell *matHeaderCellDef> Estado Civil </th>
          <td mat-cell *matCellDef="let element"> {{element.estado_civil || ''}} </td>
        </ng-container>

        <!-- Dirección de Residencia -->
        <ng-container matColumnDef="direccion_residencia">
          <th mat-header-cell *matHeaderCellDef> Dirección de Residencia </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion_residencia || ''}} </td>
        </ng-container>

        <!-- Barrio -->
        <ng-container matColumnDef="barrio">
          <th mat-header-cell *matHeaderCellDef> Barrio </th>
          <td mat-cell *matCellDef="let element"> {{element.barrio || ''}} </td>
        </ng-container>

        <!-- Celular -->
        <ng-container matColumnDef="celular">
          <th mat-header-cell *matHeaderCellDef> Celular </th>
          <td mat-cell *matCellDef="let element"> {{element.celular || ''}} </td>
        </ng-container>

        <!-- Primer Correo Electrónico -->
        <ng-container matColumnDef="primercorreoelectronico">
          <th mat-header-cell *matHeaderCellDef> Primer Correo Electrónico </th>
          <td mat-cell *matCellDef="let element"> {{element.primercorreoelectronico || ''}} </td>
        </ng-container>

        <!-- Municipio -->
        <ng-container matColumnDef="municipio">
          <th mat-header-cell *matHeaderCellDef> Municipio </th>
          <td mat-cell *matCellDef="let element"> {{element.municipio || ''}} </td>
        </ng-container>

        <!-- Fecha de Expedición de Cédula -->
        <ng-container matColumnDef="fecha_expedicion_cc">
          <th mat-header-cell *matHeaderCellDef> Fecha de Expedición Cédula </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_expedicion_cc || ''}} </td>
        </ng-container>

        <!-- Municipio de Expedición de Cédula -->
        <ng-container matColumnDef="municipio_expedicion_cc">
          <th mat-header-cell *matHeaderCellDef> Municipio Expedición Cédula </th>
          <td mat-cell *matCellDef="let element"> {{element.municipio_expedicion_cc || ''}} </td>
        </ng-container>

        <!-- Departamento de Expedición de Cédula -->
        <ng-container matColumnDef="departamento_expedicion_cc">
          <th mat-header-cell *matHeaderCellDef> Departamento Expedición Cédula </th>
          <td mat-cell *matCellDef="let element"> {{element.departamento_expedicion_cc || ''}} </td>
        </ng-container>

        <!-- Lugar de Nacimiento (Municipio) -->
        <ng-container matColumnDef="lugar_nacimiento_municipio">
          <th mat-header-cell *matHeaderCellDef> Municipio de Nacimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.lugar_nacimiento_municipio || ''}} </td>
        </ng-container>

        <!-- Lugar de Nacimiento (Departamento) -->
        <ng-container matColumnDef="lugar_nacimiento_departamento">
          <th mat-header-cell *matHeaderCellDef> Departamento de Nacimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.lugar_nacimiento_departamento || ''}} </td>
        </ng-container>

        <!-- RH -->
        <ng-container matColumnDef="rh">
          <th mat-header-cell *matHeaderCellDef> RH </th>
          <td mat-cell *matCellDef="let element"> {{element.rh || ''}} </td>
        </ng-container>

        <!-- Diestro/Zurdo -->
        <ng-container matColumnDef="zurdo_diestro">
          <th mat-header-cell *matHeaderCellDef> Zurdo/Diestro </th>
          <td mat-cell *matCellDef="let element"> {{element.zurdo_diestro || ''}} </td>
        </ng-container>

        <!-- Generar 6 columnas vacías -->
        <ng-container *ngFor="let empty of ['empty1', 'empty2', 'empty3', 'empty4', 'empty5', 'empty6']">
          <ng-container [matColumnDef]="empty">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
        </ng-container>

        <!-- Escolaridad -->
        <ng-container matColumnDef="escolaridad">
          <th mat-header-cell *matHeaderCellDef> Escolaridad </th>
          <td mat-cell *matCellDef="let element"> {{element.escolaridad || ''}} </td>
        </ng-container>

        <!-- Generar 6 columnas vacías -->
        <ng-container *ngFor="let empty of ['empty56', 'empty57', 'empty58', 'empty59', 'empty60']">
          <ng-container [matColumnDef]="empty">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
        </ng-container>

        <!-- Nombre de la Institución -->
        <ng-container matColumnDef="nombre_institucion">
          <th mat-header-cell *matHeaderCellDef> Nombre de la Institución </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_institucion || ''}} </td>
        </ng-container>

        <!-- Año de Finalización -->
        <ng-container matColumnDef="ano_finalizacion">
          <th mat-header-cell *matHeaderCellDef> Año de Finalización </th>
          <td mat-cell *matCellDef="let element"> {{element.ano_finalizacion || ''}} </td>
        </ng-container>

        <!-- Título Obtenido -->
        <ng-container matColumnDef="titulo_obtenido">
          <th mat-header-cell *matHeaderCellDef> Título Obtenido </th>
          <td mat-cell *matCellDef="let element"> {{element.titulo_obtenido || ''}} </td>
        </ng-container>

        <!-- Chaqueta -->
        <ng-container matColumnDef="chaqueta">
          <th mat-header-cell *matHeaderCellDef> Talla Chaqueta </th>
          <td mat-cell *matCellDef="let element"> {{element.chaqueta || ''}} </td>
        </ng-container>

        <!-- Pantalón -->
        <ng-container matColumnDef="pantalon">
          <th mat-header-cell *matHeaderCellDef> Talla Pantalón </th>
          <td mat-cell *matCellDef="let element"> {{element.pantalon || ''}} </td>
        </ng-container>

        <!-- Camisa -->
        <ng-container matColumnDef="camisa">
          <th mat-header-cell *matHeaderCellDef> Talla Camisa </th>
          <td mat-cell *matCellDef="let element"> {{element.camisa || ''}} </td>
        </ng-container>

        <!-- Calzado -->
        <ng-container matColumnDef="calzado">
          <th mat-header-cell *matHeaderCellDef> Talla Calzado </th>
          <td mat-cell *matCellDef="let element"> {{element.calzado || ''}} </td>
        </ng-container>

        <!-- Familiar de Emergencia -->
        <ng-container matColumnDef="familiar_emergencia">
          <th mat-header-cell *matHeaderCellDef> Familiar de Emergencia </th>
          <td mat-cell *matCellDef="let element"> {{element.familiar_emergencia || ''}} </td>
        </ng-container>

        <!-- Parentesco con Familiar de Emergencia -->
        <ng-container matColumnDef="parentesco_familiar_emergencia">
          <th mat-header-cell *matHeaderCellDef> Parentesco Familiar de Emergencia </th>
          <td mat-cell *matCellDef="let element"> {{element.parentesco_familiar_emergencia || ''}} </td>
        </ng-container>

        <!-- Dirección del Familiar de Emergencia -->
        <ng-container matColumnDef="direccion_familiar_emergencia">
          <th mat-header-cell *matHeaderCellDef> Dirección Familiar de Emergencia </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion_familiar_emergencia || ''}} </td>
        </ng-container>

        <!-- Barrio del Familiar de Emergencia -->
        <ng-container matColumnDef="barrio_familiar_emergencia">
          <th mat-header-cell *matHeaderCellDef> Barrio Familiar de Emergencia </th>
          <td mat-cell *matCellDef="let element"> {{element.barrio_familiar_emergencia || ''}} </td>
        </ng-container>

        <!-- Teléfono del Familiar de Emergencia -->
        <ng-container matColumnDef="telefono_familiar_emergencia">
          <th mat-header-cell *matHeaderCellDef> Teléfono Familiar de Emergencia </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_familiar_emergencia || ''}} </td>
        </ng-container>

        <!-- Ocupación del Familiar de Emergencia -->
        <ng-container matColumnDef="ocupacion_familiar_emergencia">
          <th mat-header-cell *matHeaderCellDef> Ocupación Familiar de Emergencia </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_familiar_emergencia || ''}} </td>
        </ng-container>

        <!-- Nombre del Cónyuge -->
        <ng-container matColumnDef="nombre_conyugue">
          <th mat-header-cell *matHeaderCellDef> Nombre del Cónyuge </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_conyugue || ''}} </td>
        </ng-container>

        <!-- Vive con el Cónyuge -->
        <ng-container matColumnDef="vive_con_el_conyugue">
          <th mat-header-cell *matHeaderCellDef> Vive con el Cónyuge </th>
          <td mat-cell *matCellDef="let element"> {{element.vive_con_el_conyugue || ''}} </td>
        </ng-container>

        <!-- Ocupación del Cónyuge -->
        <ng-container matColumnDef="ocupacion_conyugue">
          <th mat-header-cell *matHeaderCellDef> Ocupación del Cónyuge </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_conyugue || ''}} </td>
        </ng-container>

        <!-- Dirección Laboral del Cónyuge -->
        <ng-container matColumnDef="direccion_laboral_conyugue">
          <th mat-header-cell *matHeaderCellDef> Dirección Laboral del Cónyuge </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion_laboral_conyugue || ''}} </td>
        </ng-container>

        <!-- Teléfono del Cónyuge -->
        <ng-container matColumnDef="telefono_conyugue">
          <th mat-header-cell *matHeaderCellDef> Teléfono del Cónyuge </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_conyugue || ''}} </td>
        </ng-container>

        <!-- Barrio o Municipio del Cónyuge -->
        <ng-container matColumnDef="barrio_municipio_conyugue">
          <th mat-header-cell *matHeaderCellDef> Barrio/Municipio del Cónyuge </th>
          <td mat-cell *matCellDef="let element"> {{element.barrio_municipio_conyugue || ''}} </td>
        </ng-container>

        <!-- Número de Hijos Dependientes Económicamente -->
        <ng-container matColumnDef="num_hijos_dependen_economicamente">
          <th mat-header-cell *matHeaderCellDef> N° Hijos Dependientes </th>
          <td mat-cell *matCellDef="let element"> {{element.num_hijos_dependen_economicamente || ''}} </td>
        </ng-container>

        <!-- Definimos un array de 5 hijos (puede ser dinámico según la cantidad máxima de hijos) -->
        <ng-container *ngFor="let index of [0, 1, 2, 3, 4]">

          <!-- Nombre del Hijo -->
          <ng-container matColumnDef="nombre_hijo_{{index + 1}}">
            <th mat-header-cell *matHeaderCellDef> Nombre del Hijo {{index + 1}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.hijos[index]?.nombre || 'N/A'}}
            </td>
          </ng-container>

          <!-- Sexo del Hijo -->
          <ng-container matColumnDef="sexo_hijo_{{index + 1}}">
            <th mat-header-cell *matHeaderCellDef> Sexo del Hijo {{index + 1}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.hijos[index]?.sexo || 'N/A'}}
            </td>
          </ng-container>

          <!-- Fecha de Nacimiento del Hijo -->
          <ng-container matColumnDef="fecha_nacimiento_hijo_{{index + 1}}">
            <th mat-header-cell *matHeaderCellDef> Fecha de Nacimiento del Hijo {{index + 1}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.hijos[index]?.fecha_nacimiento || 'N/A'}}
            </td>
          </ng-container>

          <!-- Número de Documento del Hijo -->
          <ng-container matColumnDef="no_documento_hijo_{{index + 1}}">
            <th mat-header-cell *matHeaderCellDef> N° Documento del Hijo {{index + 1}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.hijos[index]?.no_documento || 'N/A'}}
            </td>
          </ng-container>

          <!-- Estudia o Trabaja el Hijo -->
          <ng-container matColumnDef="estudia_o_trabaja_hijo_{{index + 1}}">
            <th mat-header-cell *matHeaderCellDef> Estudia o Trabaja Hijo {{index + 1}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.hijos[index]?.estudia_o_trabaja || 'N/A'}}
            </td>
          </ng-container>

          <!-- Curso del Hijo -->
          <ng-container matColumnDef="curso_hijo_{{index + 1}}">
            <th mat-header-cell *matHeaderCellDef> Curso del Hijo {{index + 1}} </th>
            <td mat-cell *matCellDef="let element">
              {{element.hijos[index]?.curso || 'N/A'}}
            </td>
          </ng-container>

        </ng-container>


        <!-- Generar 12 columnas vacías para los hijos -->
        <ng-container
          *ngFor="let empty of ['empty7', 'empty8', 'empty9', 'empty10', 'empty11', 'empty12', 'empty13', 'empty14', 'empty15', 'empty16', 'empty17', 'empty18']">
          <ng-container [matColumnDef]="empty">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
        </ng-container>

        <!-- Nombre del Padre -->
        <ng-container matColumnDef="nombre_padre">
          <th mat-header-cell *matHeaderCellDef> Nombre del Padre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_padre || ''}} </td>
        </ng-container>

        <!-- Vive el Padre -->
        <ng-container matColumnDef="vive_padre">
          <th mat-header-cell *matHeaderCellDef> Vive el Padre </th>
          <td mat-cell *matCellDef="let element"> {{element.vive_padre || ''}} </td>
        </ng-container>

        <!-- Ocupación del Padre -->
        <ng-container matColumnDef="ocupacion_padre">
          <th mat-header-cell *matHeaderCellDef> Ocupación del Padre </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_padre || ''}} </td>
        </ng-container>

        <!-- Dirección del Padre -->
        <ng-container matColumnDef="direccion_padre">
          <th mat-header-cell *matHeaderCellDef> Dirección del Padre </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion_padre || ''}} </td>
        </ng-container>

        <!-- Teléfono del Padre -->
        <ng-container matColumnDef="telefono_padre">
          <th mat-header-cell *matHeaderCellDef> Teléfono del Padre </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_padre || ''}} </td>
        </ng-container>

        <!-- Barrio del Padre -->
        <ng-container matColumnDef="barrio_padre">
          <th mat-header-cell *matHeaderCellDef> Barrio del Padre </th>
          <td mat-cell *matCellDef="let element"> {{element.barrio_padre || ''}} </td>
        </ng-container>

        <!-- Nombre de la Madre -->
        <ng-container matColumnDef="nombre_madre">
          <th mat-header-cell *matHeaderCellDef> Nombre de la Madre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_madre || ''}} </td>
        </ng-container>

        <!-- Vive la Madre -->
        <ng-container matColumnDef="vive_madre">
          <th mat-header-cell *matHeaderCellDef> Vive la Madre </th>
          <td mat-cell *matCellDef="let element"> {{element.vive_madre || ''}} </td>
        </ng-container>

        <!-- Ocupación de la Madre -->
        <ng-container matColumnDef="ocupacion_madre">
          <th mat-header-cell *matHeaderCellDef> Ocupación de la Madre </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_madre || ''}} </td>
        </ng-container>

        <!-- Dirección de la Madre -->
        <ng-container matColumnDef="direccion_madre">
          <th mat-header-cell *matHeaderCellDef> Dirección de la Madre </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion_madre || ''}} </td>
        </ng-container>

        <!-- Teléfono de la Madre -->
        <ng-container matColumnDef="telefono_madre">
          <th mat-header-cell *matHeaderCellDef> Teléfono de la Madre </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_madre || ''}} </td>
        </ng-container>

        <!-- Barrio de la Madre -->
        <ng-container matColumnDef="barrio_madre">
          <th mat-header-cell *matHeaderCellDef> Barrio de la Madre </th>
          <td mat-cell *matCellDef="let element"> {{element.barrio_madre || ''}} </td>
        </ng-container>

        <!-- Nombre de la Referencia Personal 1 -->
        <ng-container matColumnDef="nombre_referencia_personal1">
          <th mat-header-cell *matHeaderCellDef> Nombre Referencia Personal 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_referencia_personal1 || ''}} </td>
        </ng-container>

        <!-- Teléfono de la Referencia Personal 1 -->
        <ng-container matColumnDef="telefono_referencia_personal1">
          <th mat-header-cell *matHeaderCellDef> Teléfono Referencia Personal 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_referencia_personal1 || ''}} </td>
        </ng-container>

        <!-- Ocupación de la Referencia Personal 1 -->
        <ng-container matColumnDef="ocupacion_referencia_personal1">
          <th mat-header-cell *matHeaderCellDef> Ocupación Referencia Personal 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_referencia_personal1 || ''}} </td>
        </ng-container>

        <!-- Nombre de la Referencia Personal 2 -->
        <ng-container matColumnDef="nombre_referencia_personal2">
          <th mat-header-cell *matHeaderCellDef> Nombre Referencia Personal 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_referencia_personal2 || ''}} </td>
        </ng-container>

        <!-- Teléfono de la Referencia Personal 2 -->
        <ng-container matColumnDef="telefono_referencia_personal2">
          <th mat-header-cell *matHeaderCellDef> Teléfono Referencia Personal 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_referencia_personal2 || ''}} </td>
        </ng-container>

        <!-- Ocupación de la Referencia Personal 2 -->
        <ng-container matColumnDef="ocupacion_referencia_personal2">
          <th mat-header-cell *matHeaderCellDef> Ocupación Referencia Personal 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_referencia_personal2 || ''}} </td>
        </ng-container>

        <!-- Nombre de la Referencia Familiar 1 -->
        <ng-container matColumnDef="nombre_referencia_familiar1">
          <th mat-header-cell *matHeaderCellDef> Nombre Referencia Familiar 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_referencia_familiar1 || ''}} </td>
        </ng-container>

        <!-- Teléfono de la Referencia Familiar 1 -->
        <ng-container matColumnDef="telefono_referencia_familiar1">
          <th mat-header-cell *matHeaderCellDef> Teléfono Referencia Familiar 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_referencia_familiar1 || ''}} </td>
        </ng-container>

        <!-- Ocupación de la Referencia Familiar 1 -->
        <ng-container matColumnDef="ocupacion_referencia_familiar1">
          <th mat-header-cell *matHeaderCellDef> Ocupación Referencia Familiar 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_referencia_familiar1 || ''}} </td>
        </ng-container>

        <!-- Nombre de la Referencia Familiar 2 -->
        <ng-container matColumnDef="nombre_referencia_familiar2">
          <th mat-header-cell *matHeaderCellDef> Nombre Referencia Familiar 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_referencia_familiar2 || ''}} </td>
        </ng-container>

        <!-- Teléfono de la Referencia Familiar 2 -->
        <ng-container matColumnDef="telefono_referencia_familiar2">
          <th mat-header-cell *matHeaderCellDef> Teléfono Referencia Familiar 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono_referencia_familiar2 || ''}} </td>
        </ng-container>

        <!-- Ocupación de la Referencia Familiar 2 -->
        <ng-container matColumnDef="ocupacion_referencia_familiar2">
          <th mat-header-cell *matHeaderCellDef> Ocupación Referencia Familiar 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.ocupacion_referencia_familiar2 || ''}} </td>
        </ng-container>

        <!-- Nombre de la Empresa (Experiencia Laboral 1) -->
        <ng-container matColumnDef="nombre_expe_laboral1_empresa">
          <th mat-header-cell *matHeaderCellDef> Nombre Empresa </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_expe_laboral1_empresa || ''}} </td>
        </ng-container>

        <!-- Dirección de la Empresa (Experiencia Laboral 1) -->
        <ng-container matColumnDef="direccion_empresa1">
          <th mat-header-cell *matHeaderCellDef> Dirección Empresa </th>
          <td mat-cell *matCellDef="let element"> {{element.direccion_empresa1 || ''}} </td>
        </ng-container>

        <!-- Teléfonos de la Empresa (Experiencia Laboral 1) -->
        <ng-container matColumnDef="telefonos_empresa1">
          <th mat-header-cell *matHeaderCellDef> Teléfonos Empresa </th>
          <td mat-cell *matCellDef="let element"> {{element.telefonos_empresa1 || ''}} </td>
        </ng-container>

        <!-- Nombre del Jefe (Experiencia Laboral 1) -->
        <ng-container matColumnDef="nombre_jefe_empresa1">
          <th mat-header-cell *matHeaderCellDef> Nombre Jefe </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_jefe_empresa1 || ''}} </td>
        </ng-container>

        <!-- Cargo del Jefe (Experiencia Laboral 1) -->
        <ng-container matColumnDef="cargo_empresa1">
          <th mat-header-cell *matHeaderCellDef> Cargo Jefe </th>
          <td mat-cell *matCellDef="let element"> {{element.cargo_empresa1 || ''}} </td>
        </ng-container>

        <!-- Fecha de Retiro (Experiencia Laboral 1) -->
        <ng-container matColumnDef="fecha_retiro_empresa1">
          <th mat-header-cell *matHeaderCellDef> Fecha de Retiro </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_retiro_empresa1 || ''}} </td>
        </ng-container>

        <!-- Motivo del Retiro (Experiencia Laboral 1) -->
        <ng-container matColumnDef="motivo_retiro_empresa1">
          <th mat-header-cell *matHeaderCellDef> Motivo Retiro </th>
          <td mat-cell *matCellDef="let element"> {{element.motivo_retiro_empresa1 || ''}} </td>
        </ng-container>

        <!-- Generar 37 columnas vacías para las experiencias laborales -->
        <ng-container *ngFor="let empty of [
'empty20', 'empty21', 'empty22', 'empty23', 'empty24',
'empty25', 'empty26', 'empty27', 'empty28', 'empty29', 'empty30',
'empty31', 'empty32', 'empty33', 'empty34', 'empty35', 'empty36',
'empty37', 'empty38', 'empty39', 'empty40', 'empty41', 'empty42',
'empty43', 'empty44', 'empty45', 'empty46', 'empty47', 'empty48',
'empty49', 'empty50', 'empty51', 'empty52', 'empty53', 'empty54',
'empty55']">
          <ng-container [matColumnDef]="empty">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
        </ng-container>

        <!-- ¿Cómo se enteró? -->
        <ng-container matColumnDef="como_se_entero">
          <th mat-header-cell *matHeaderCellDef> ¿Cómo se Enteró? </th>
          <td mat-cell *matCellDef="let element"> {{element.como_se_entero || ''}} </td>
        </ng-container>

        <!-- Tiene Experiencia Laboral -->
        <ng-container matColumnDef="tiene_experiencia_laboral">
          <th mat-header-cell *matHeaderCellDef> ¿Tiene Experiencia Laboral? </th>
          <td mat-cell *matCellDef="let element"> {{element.tiene_experiencia_laboral || ''}} </td>
        </ng-container>

        <!-- Empresas en las que ha Laborado -->
        <ng-container matColumnDef="empresas_laborado">
          <th mat-header-cell *matHeaderCellDef> Empresas de flores que ha trabajado (Separarlas con ,) </th>
          <td mat-cell *matCellDef="let element"> {{element.empresas_laborado || ''}} </td>
        </ng-container>

        <!-- Área de Cultivo Poscosecha -->
        <ng-container matColumnDef="area_experiencia">
          <th mat-header-cell *matHeaderCellDef> ¿En que area? </th>
          <td mat-cell *matCellDef="let element"> {{element.area_experiencia || ''}} </td>
        </ng-container>

        <!-- Labores Realizadas -->
        <ng-container matColumnDef="labores_realizadas">
          <th mat-header-cell *matHeaderCellDef> Labores Realizadas </th>
          <td mat-cell *matCellDef="let element"> {{element.labores_realizadas || ''}} </td>
        </ng-container>

        <!-- Rendimiento -->
        <ng-container matColumnDef="rendimiento">
          <th mat-header-cell *matHeaderCellDef> Rendimiento </th>
          <td mat-cell *matCellDef="let element"> {{element.rendimiento || ''}} </td>
        </ng-container>

        <!-- ¿Por qué ese Rendimiento? -->
        <ng-container matColumnDef="porqueRendimiento">
          <th mat-header-cell *matHeaderCellDef> ¿Por qué ese Rendimiento? </th>
          <td mat-cell *matCellDef="let element"> {{element.porqueRendimiento || ''}} </td>
        </ng-container>

        <!-- ¿Hace cuánto vive en la zona? -->
        <ng-container matColumnDef="hacecuantoviveenlazona">
          <th mat-header-cell *matHeaderCellDef> ¿Hace Cuánto Vive en la Zona? </th>
          <td mat-cell *matCellDef="let element"> {{element.hacecuantoviveenlazona || ''}} </td>
        </ng-container>

        <!-- Tipo de Vivienda -->
        <ng-container matColumnDef="tipo_vivienda">
          <th mat-header-cell *matHeaderCellDef> Tipo de Vivienda </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_vivienda || ''}} </td>
        </ng-container>

        <!-- Personas con quien Convive -->
        <ng-container matColumnDef="personas_con_quien_convive">
          <th mat-header-cell *matHeaderCellDef> Personas con Quien Convive </th>
          <td mat-cell *matCellDef="let element"> {{element.personas_con_quien_convive || ''}} </td>
        </ng-container>

        <!-- ¿Estudia Actualmente? -->
        <ng-container matColumnDef="estudia_actualmente">
          <th mat-header-cell *matHeaderCellDef> ¿Estudia Actualmente? </th>
          <td mat-cell *matCellDef="let element"> {{element.estudia_actualmente || ''}} </td>
        </ng-container>

        <!-- Personas a Cargo -->
        <ng-container matColumnDef="personas_a_cargo">
          <th mat-header-cell *matHeaderCellDef> Personas a Cargo </th>
          <td mat-cell *matCellDef="let element"> {{element.personas_a_cargo || ''}} </td>
        </ng-container>

        <!-- Número de Hijos Dependientes Económicamente -->
        <ng-container matColumnDef="num_hijos_dependen_economicamente2">
          <th mat-header-cell *matHeaderCellDef> N° Hijos Dependientes </th>
          <td mat-cell *matCellDef="let element"> {{element.num_hijos_dependen_economicamente || ''}} </td>
        </ng-container>

        <!-- ¿Quién Cuida a los Hijos? -->
        <ng-container matColumnDef="quien_los_cuida">
          <th mat-header-cell *matHeaderCellDef> ¿Quién los Cuida? </th>
          <td mat-cell *matCellDef="let element"> {{element.quien_los_cuida || ''}} </td>
        </ng-container>

        <!-- ¿Cómo es su Relación Familiar? -->
        <ng-container matColumnDef="como_es_su_relacion_familiar">
          <th mat-header-cell *matHeaderCellDef> ¿Cómo es su Relación Familiar? </th>
          <td mat-cell *matCellDef="let element"> {{element.como_es_su_relacion_familiar || ''}} </td>
        </ng-container>

        <!-- ¿Por qué lo Felicitarían? -->
        <ng-container matColumnDef="porqueLofelicitarian">
          <th mat-header-cell *matHeaderCellDef> ¿Por qué lo Felicitarían? </th>
          <td mat-cell *matCellDef="let element"> {{element.porqueLofelicitarian || ''}} </td>
        </ng-container>

        <!-- Malentendido -->
        <ng-container matColumnDef="malentendido">
          <th mat-header-cell *matHeaderCellDef> Malentendido </th>
          <td mat-cell *matCellDef="let element"> {{element.malentendido || ''}} </td>
        </ng-container>

        <!-- Actividades Diarias -->
        <ng-container matColumnDef="actividadesDi">
          <th mat-header-cell *matHeaderCellDef> Actividades Diarias </th>
          <td mat-cell *matCellDef="let element"> {{element.actividadesDi || ''}} </td>
        </ng-container>

        <!-- Experiencia Significativa -->
        <ng-container matColumnDef="experienciaSignificativa">
          <th mat-header-cell *matHeaderCellDef> Experiencia Significativa </th>
          <td mat-cell *matCellDef="let element"> {{element.experienciaSignificativa || ''}} </td>
        </ng-container>

        <!-- Expectativas de Vida -->
        <ng-container matColumnDef="expectativas_de_vida">
          <th mat-header-cell *matHeaderCellDef> Expectativas de Vida </th>
          <td mat-cell *matCellDef="let element"> {{element.expectativas_de_vida || ''}} </td>
        </ng-container>

        <!-- Tipo de Vivienda (Segunda Parte) -->
        <ng-container matColumnDef="tipo_vivienda_2p">
          <th mat-header-cell *matHeaderCellDef> Tipo de Vivienda (2P) </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_vivienda_2p || ''}} </td>
        </ng-container>

        <!-- Motivación -->
        <ng-container matColumnDef="motivacion">
          <th mat-header-cell *matHeaderCellDef> Motivación </th>
          <td mat-cell *matCellDef="let element"> {{element.motivacion || ''}} </td>
        </ng-container>


        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Paginador -->
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
