<div class="cajaHeader">
  <div class="cajontitulo">
    <h1 class="titulo">Bienvenido</h1>
  </div>
  <div class="perfil">
    <div class="opciones">

      <div class="perfil-container">
        <div class="perfil-info columns">
          <div class="columna-info auth-info">
            <h1 class="titulo">Hola, <span class="username">{{ username }}</span></h1>
            <p class="detalle">Doc: <span>{{ documento }}</span></p>
          </div>
          <div class="separador-vertical"></div>
          <div class="columna-info system-info">
            <p class="detalle role-sede">{{ role }} / {{ sede }}</p>
            <p class="detalle version">Versión: {{ appVersion }}</p>
          </div>
        </div>
      </div>

      <div class="botonConfig">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Configuración" class="icono"
          (menuOpened)="cargarSedes()">
          <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="prueba()">
            <mat-icon>vpn_key</mat-icon>
            <span class="spanAux">Cambiar Contraseña</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="sedeMenu">
            <mat-icon>location_city</mat-icon>
            <span class="spanAux">Cambiar Sede</span>
          </button>
          <!-- Mostrar la versión de la aplicación -->
          <button mat-menu-item disabled>
            <mat-icon>info</mat-icon>
            <span class="spanAux">Versión: {{appVersion}}</span>
          </button>
        </mat-menu>

        <mat-menu #sedeMenu="matMenu">
          <button mat-menu-item *ngFor="let sede of sedes" (click)="onSedeSeleccionada(sede.id)">
            {{ sede.nombre }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>