<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Lista de Trabajadores</span>
      <span class="spacer"></span>

      <!-- Menú -->
      <button mat-icon-button [matMenuTriggerFor]="actions" aria-label="Acciones">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <mat-menu #actions="matMenu">
      <button mat-menu-item (click)="resetearValores()">
        <mat-icon>refresh</mat-icon>
        <span>Resetear valores quincena</span>
      </button>

      <button mat-menu-item (click)="generarExcelDatosBase()">
        <mat-icon>download</mat-icon>
        <span>Extraer datos base</span>
      </button>

      <mat-divider></mat-divider>

      <div class="menu-toggle" (click)="$event.stopPropagation()">
        <mat-slide-toggle [checked]="showInactive" (change)="toggleShowInactive($event)">
          {{ showInactive ? 'Desbloquear trabajadores' : 'Bloquear trabajadores' }}
        </mat-slide-toggle>
      </div>
    </mat-menu>



    <h1 style="font-size: 14pt;"><strong class="titulo">Trabajadores activos:</strong> {{numeroActivo}}</h1> <br>

    <div class="table-container">
      <app-standard-filter-table [data]="dataSource.data" [columnDefinitions]="columns"
        [pageSizeOptions]="[10,20,50,100]" [defaultPageSize]="10" [tableTitle]="'Trabajadores'">

        <!-- Columna BLOQUEADO (switch independiente) -->
        <ng-template #bloqueadoTemplate let-row>
          <mat-slide-toggle [checked]="row.bloqueado" (change)="toggleEstado(row, 'bloqueado')">
            {{ row.bloqueado ? 'Si' : 'No' }}
          </mat-slide-toggle>
        </ng-template>

        <!-- Columna ACTIVO (switch independiente) -->
        <ng-template #activoTemplate let-row>
          <mat-slide-toggle [checked]="row.activo" (change)="toggleEstado(row, 'activo')">
            {{ row.activo ? 'Sí' : 'No' }}
          </mat-slide-toggle>
        </ng-template>

      </app-standard-filter-table>
    </div>


  </mat-card-content>
</mat-card>
