<mat-card>
  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <h1 class="titulo">
        Digite el número de identificación del empleado a validar:
      </h1>

      <ng-container>
        <mat-form-field class="example-full-width">
          <mat-label>Número de identificación</mat-label>
          <input matInput formControlName="cedula" />
          <mat-error *ngIf="myForm.get('cedula')?.hasError('required')">
            El número de identificación es requerido
          </mat-error>
        </mat-form-field>

        <button mat-flat-button type="submit">Buscar</button>
      </ng-container>
    </form>

    <div class="tabla">
      <app-standard-filter-table [data]="dataList" [columnDefinitions]="columns"
        [tableTitle]="'Historial de Autorizaciones'" [enableRowClick]="false">
      </app-standard-filter-table>
    </div>
  </mat-card-content>
</mat-card>