<input type="file" id="fileInput" (change)="cargarExcel($event)" accept=".xlsx, .xls" style="display: none;">
<input type="file" id="fileInputEmails" (change)="cargarCorreosMasivos($event)" accept=".xlsx, .xls"
  style="display: none;">

<mat-card>
  <mat-card-content>

    <div class="search-container">
      <div class="buscar">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Ingrese la cédula</mat-label>
          <input matInput [(ngModel)]="cedula">
        </mat-form-field>
        <button mat-flat-button (click)="buscarDesprendibles(cedula)" class="boton">Buscar</button>
      </div>

      <app-info-card title="Cargar desprendibles de pago" imageUrl="icons/cards/excel.png"
        (click)="triggerFileInput('desprendibles')" *ngIf="correo == 'nominacentral4@gmail.com' ||
         correo == 'nomina.rtc@gmail.com' ||
         correo == 'programador.ts@gmail.com' ||
         correo == 'nomina.gandes@gmail.com' ||
         correo == 'nominacentral7@gmail.com' ||
         correo == 'antcontable4.ts@gmail.com' ||
         correo == 'nominacentral4@gmail.com' ||
         correo == 'nominacentral6@gmail.com' ||
         correo == 'nomina.gandes@gmail.com' " style="cursor: pointer;">
      </app-info-card>


      <app-info-card title="Cambiar masivamente los correos" imageUrl="icons/cards/excel.png"
        (click)="triggerFileInput('correos')" style="cursor: pointer;">
      </app-info-card>
    </div>

    <div class="tabla">
      <app-standard-filter-table [data]="dataList" [columnDefinitions]="columns" [tableTitle]="'Desprendibles de pago'"
        [enableRowClick]="false">

        <ng-template #estadoTemplate let-row let-col="col">
          <a *ngIf="isValidLink(row[col.name])" [href]="row[col.name]" target="_blank" class="link-style">
            Ver link
          </a>
          <span *ngIf="!isValidLink(row[col.name])">
            {{ row[col.name] || '-' }}
          </span>
        </ng-template>

      </app-standard-filter-table>
    </div>
  </mat-card-content>
</mat-card>