mat-dialog-content{
    padding: 120px;
    width: 100%;
}

.dialog-content {
    padding: 20px;
}

.date-range-field {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.mat-dialog-actions {
    padding: 10px 20px;
}

.dialog-button {
    margin-left: 10px;
}