<mat-card>
  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <h1 class="titulo">
        Digite el número de identificación del empleado a validar:
      </h1>

      <ng-container>
        <mat-form-field class="example-full-width">
          <mat-label>Número de identificación</mat-label>
          <input matInput formControlName="cedula" />
          <mat-error *ngIf="myForm.get('cedula')?.hasError('required')">
            El número de identificación es requerido
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container>
        <mat-form-field class="example-full-width">
          <mat-label>Valor</mat-label>
          <input
            matInput
            formControlName="valor"
            (input)="formatCurrency($event)"
          />
          <mat-error *ngIf="myForm.get('valor')?.hasError('required')">
            El valor es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Codigo autorización</mat-label>
          <input matInput formControlName="codigo" />
          <mat-error *ngIf="myForm.get('codigo')?.hasError('required')">
            El codigo de autorización es requerido
          </mat-error>
        </mat-form-field>

        <button
          mat-flat-button
          type="submit"
          class="boton"
          [disabled]="myForm.invalid"
        >
          Cargar
        </button>
      </ng-container>
    </form>
  </mat-card-content>
</mat-card>
