<mat-card>
  <mat-card-content>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <h1 class="titulo">Digite el número de identificación del empleado a validar:</h1>

      <div class="encabezado">
        <!-- Campo "cedula" registrado en myForm -->
        <mat-form-field class="example-full-width cedula">
          <mat-label>Número de identificación</mat-label>
          <input matInput formControlName="cedula" />
          <mat-error *ngIf="myForm.get('cedula')?.hasError('required')">
            El número de identificación es requerido
          </mat-error>
        </mat-form-field>

        <h1 class="nombre">
          <strong>Nombre Operario:  </strong>{{ nombreOperario }}
        </h1>
        <h1 class="nombre">
          <strong>Fecha ingreso: </strong>{{ fechaIngreso }}
        </h1>

        <button mat-flat-button type="submit" class="boton comercializadora" [disabled]="myForm.invalid">
          Cargar
        </button>
      </div>

      <!-- TABLA DE CÓDIGOS Y MONTOS -->
      <div class="tabla" *ngIf="!isInventarioVisible">
        <h1 class="title"> Autorizaciones</h1>
        <div class="table-container">
          <!-- Asignamos [dataSource]="dataSource" donde dataSource.data = codigosFormArray.controls -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Columna de selección -->
            <ng-container matColumnDef="seleccion">
              <th mat-header-cell *matHeaderCellDef>Acción</th>
              <td mat-cell *matCellDef="let row">
                <!-- row es un FormGroup. Accedemos a su control "seleccionado" -->
                <mat-checkbox [formControl]="row.get('seleccionado')"></mat-checkbox>
              </td>
            </ng-container>

            <!-- Columna código -->
            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef>Código</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('codigo')?.value }}
              </td>
            </ng-container>

            <!-- Columna cuotas -->
            <ng-container matColumnDef="cuotas">
              <th mat-header-cell *matHeaderCellDef>Cuotas</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('cuotas')?.value }}
              </td>
            </ng-container>

            <!-- Columna monto -->
            <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef>Monto</th>
              <td mat-cell *matCellDef="let row">
                <!-- Si quieres formatear como moneda: -->
                {{ row.get('monto')?.value | currency }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>



      <!-- TABLA DE INVENTARIO DE PRODUCTOS -->
      <div class="tabla" *ngIf="isInventarioVisible">
        <h1 class="title">Inventario de Productos Comercializados</h1>

        <!-- Filtro -->
        <mat-form-field class="filtro">
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilterInventario($event)" placeholder="Filtrar" #inputInventario />
        </mat-form-field>

        <div class="table-container">
          <table mat-table [dataSource]="dataSourceInventario" class="mat-elevation-z8">
            <!-- Seleccionar -->
            <ng-container matColumnDef="seleccion">
              <th mat-header-cell *matHeaderCellDef>Acción</th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox [formControl]="row.get('seleccionado')"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="concepto">
              <th mat-header-cell *matHeaderCellDef>Concepto</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('concepto')?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cantidadSeleccionada">
              <th mat-header-cell *matHeaderCellDef>Cantidad</th>
              <td mat-cell *matCellDef="let row; let i = index">
                <div class="cantidad-container">
                  <button mat-icon-button color="primary" type="button" (click)="decrementarCantidad(i)"
                    [disabled]="!row.get('seleccionado')?.value">
                    <mat-icon>remove</mat-icon>
                  </button>

                  <span class="cantidad">{{ row.get('cantidadSeleccionada')?.value || 0 }}</span>

                  <button mat-icon-button color="primary" type="button" (click)="incrementarCantidad(i)"
                    [disabled]="!row.get('seleccionado')?.value">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>


            <ng-container matColumnDef="cantidadEnvio">
              <th mat-header-cell *matHeaderCellDef>Cantidad Enviada</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('cantidadEnvio')?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cantidadRecibida">
              <th mat-header-cell *matHeaderCellDef>Cantidad Recibida</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('cantidadRecibida')?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="valorUnidad">
              <th mat-header-cell *matHeaderCellDef>Valor Unidad</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('valorUnidad')?.value | currency }}
              </td>
            </ng-container>

            <ng-container matColumnDef="cantidadTotalVendida">
              <th mat-header-cell *matHeaderCellDef>Cantidad Vendida</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('cantidadTotalVendida')?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="PersonaEnvia">
              <th mat-header-cell *matHeaderCellDef>Persona quien envió</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('PersonaEnvia')?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="PersonaRecibe">
              <th mat-header-cell *matHeaderCellDef>Persona quien recibe</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('PersonaRecibe')?.value }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fechaRecibida">
              <th mat-header-cell *matHeaderCellDef>Fecha de recibido</th>
              <td mat-cell *matCellDef="let row">
                {{ row.get('fechaRecibida')?.value || '' }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsInventario"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsInventario;"></tr>

            <!-- Fila que aparece cuando NO hay datos -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="12">
                No hay datos para "{{ inputInventario.value }}"
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- boton para continuar -->
      <button mat-flat-button type="button" class="boton comercializadora" (click)="toggleInventario()"
        style="margin-top: 10pt; float: right;">
        {{ isInventarioVisible ? 'Anterior' : 'Continuar' }}
      </button>

    </form>
  </mat-card-content>
</mat-card>
