form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example-full-width {
  width: 20%;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.hora-ampm-container {
  display: flex;
  align-items: center;
}

.hora-ampm-container input {
  flex-grow: 1;
  margin-right: 10px;
}


.no-select {
  pointer-events: none;
}

.no-select input {
  pointer-events: auto;
  cursor: pointer;
  color: #000;
}
